<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css" integrity="sha512-8Vtie9oRR62i7vkmVUISvuwOeipGv8Jd+Sur/ORKDD5JiLgTGeBSkI3ISOhc730VGvA5VVQPwKIKlmi+zMZ71w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div id="app" class="text-start">

        <div class="card shadow-sm w-50 m-auto mt-5">
            <h1 class="text-center">{{titulopagina}}</h1>
            <div class="card-body">
                <form class="form-control text-center" method="post" @submit.prevent="insertProduto">
                    <label class="form-label text-center" v-if="id">id</label>
                    <input class="input-group w-50 m-auto" type="text" v-model="id" v-if="id" readonly>
                    <label class="form-label">Curso</label>
                    <input class="input-group w-50 m-auto" type="text" placeholder="Digite o curso" v-model="titulo" required>
                    <label class="form-label text-center">Descrição</label>
                    <input  type="hidden" v-model="id">
                    <input class="input-group w-50 m-auto" type="text" placeholder="Digite a descrição" v-model="descricao" required>

                    <button class="btn btn-sm btn-dark m-2" v-if="!id">Cadastrar</button>
                    <button class="btn btn-sm btn-dark m-2" v-else @click.prevent="editarProduto">Editar</button>
                    <button class="btn btn-sm btn-dark m-2" @click.prevent="mostrar">{{textoMostra}}</button>
                    <button class="btn btn-sm btn-danger m-2" @click.prevent="limpar">Limpar</button>
                </form>
            </div>
        </div>


    
        <div class="card shadow-sm m-auto w-50 mt-4" v-if="mostra">
            <div class="card-body">
                

                <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Deletar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="produto in produtos" :key="produto.id">
                        <th>{{produto.id}}</th>
                        <th>{{produto.titulo}}</th>
                        <td>{{produto.descricao}}</td>
                        <td class="text-center bg-secondary"><button @click.prevent="preencheCampo(produto.id, produto.titulo, produto.descricao)"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        <td class="text-center bg-danger"><button @click="deletar(produto.id)"><i class="fa-solid fa-circle-xmark"></i></button></td>
                     
                      </tr>
                     
                    </tbody>
                  </table>
        
            </div>
        </div>

    </div>

    <script>
        const app = Vue.createApp({
          data() {
            return {
                titulopagina: 'CRUD com API em PHP',
                titulo: "",
                descricao: "",
                produtos: Array,
                id: "",
                sucesso: "Insira um Produto",
                key: null,
                mostra: true,
                textoMostra: "Mostrar Tabela",
                paraEditar: [],
                cadastraEdita: "Cadastrar"
            }
          },

          watch: {
            id(novoValor, valorAntigo){
                if(novoValor == false){
                    this.cadastraEdita = "Cadastrar"
                }else{
                    this.cadastraEdita = "Editar"
                }
            },
          
          },
        
          mounted(){
              this.selectTabela()

          },
         
          
          methods: {
            limpar(){
                this.id = false
                this.titulo = ""
                this.descricao = ""
            },
            
            mostrar(){
                if(this.mostra){
                    this.mostra = false
                    this.textoMostra = "Mostrar Tabela"
                }else{
                    this.mostra = true
                    this.textoMostra = "Ocultar Tabela"
                }
            },


            preencheCampo(id, titulo, descricao){
                this.id = parseInt(id)
                this.titulo = titulo
                this.descricao = descricao
            },
            

            async selectTabela(){
                const select = await axios.get("http://localhost/celkePHP/API%20PHP/select.php")
                        .then(response => {
                            this.produtos = response.data.records
                            console.log(response)
                        })
            },

            async insertProduto(){
                if(this.titulo.length > 0 && this.descricao.length > 0){

                    const insere = {
                        titulo: this.titulo,
                        descricao: this.descricao,
                       
                    }


                    const insert = await axios.post("http://localhost/celkePHP/API%20PHP/cadastrar.php", {
                        produto: {
                            "titulo": insere.titulo,
                            "descricao": insere.descricao
                        }

                    }).then(async function(response) {
                        this.sucesso = response.data.mensagem

                        console.log(response.data.mensagem)

                        const recarrega = await axios.get("http://localhost/celkePHP/API%20PHP/select.php")
                            .then(response => {
                                this.produtos = response.data.records

                                
                                console.log(this.produtos)
                            })

                    }).catch(function(erro){
                        console.log(erro)
                    })
                    location.reload()
                    this.titulo = ""
                    this.descricao = ""
                }else{
                    alert("Favor preencher os campos.")
                }
                
            },


            async deletar(id){
                const deleta = await axios.post("http://localhost/celkePHP/API%20PHP/delete.php", {
                    produto: {
                        "id": parseInt(id)
                    }
                }).then((response) => {
                    console.log(response)
                    location.reload()

                }).catch((erro) => {
                    console.log(erro)
                })
            },

            
            async editarProduto(){
                const edita = await axios.post("http://localhost/celkePHP/API%20PHP/update.php", {
                    produto: {
                        "id" : parseInt(this.id),
                        "titulo" : this.titulo,
                        "descricao" : this.descricao
                    }
                }).then(async (response) => {
             
                    
                    console.log(response)
                    const recarrega = await axios.get("http://localhost/celkePHP/API%20PHP/select.php")
                            .then(response => {
                                this.produtos = response.data.records

                                
                                console.log(this.produtos)
                            })
                    
                }).catch((erro) => {
                    console.log(erro)
                })

                this.id = false
                this.titulo = ""
                this.descricao = ""
                location.reload()
            }
                
          }
          
        })

        app.mount('#app')
    </script>

</body>
</html>